body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

.stats {
    display: flex;
    justify-content: center;
}

.userImg {
    width: 156px;
    border-radius: 5%;
    margin-top: 30px;
}

.stats div {
    background-color: #E5E5E5;
    border-radius: 15px;
    width: 100px;
    height: 67px;
    padding-top: 5px;
    margin: 12px;
}

.stats div h2 {
    font-size: 14px;
    line-height: 17px;
}

.stats div p {
    font-size: 10px;
    line-height: 12px;
}

.stats div h2,
p {
    margin: 5px;
    font-weight: 600;
}
.container-section {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    grid-template-rows: repeat(3, 290px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 64px 0 134px 0;
}
.container-section div{
    position: relative;
    overflow: hidden;
}
.container-section img {
    height: 290px;
    border-radius: 12px;  
    object-fit: cover;
}
.uno {
    grid-column: 1;
    grid-row: 1;
}

.dos {
    grid-column: 2 / 4;
    grid-row: 1;
}
.tres{
    grid-column: 1 / 3;
    grid-row: 2;
    height: auto;
}
.tres img{
    width: 590px;
}

.cuatro {
    grid-column: 1;
    grid-row: 3;
}
.cuatro img{
    width: 290px;
}

.cinco {
    grid-column: 2;
    grid-row: 3;
}

.seis {
    grid-column: 3;
    grid-row: 2 / 4;
}
.seis img{
    height: 580px;
    width: 300px;
}
footer{
    padding-top: 134px;
}
/* mobile */
@media (max-width: 376px) {
    .user img {
        width: 100px;
    }
    .user h3{
        font-size: 14px;
    }
    .container-section img{
        height: 110px;
    }
    .container-section {
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(3, 110px);
        padding: 39px 0 44px 0;
    }
    .seis img{
        height: 220px;
        width: 110px;
    }
    .tres img{
        width: 220px;
    }
    .cuatro img{
        width: 110px;
    }
    .stats div{
        width: 78px;
        height: 52px;
    }
}